body {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}

.bold {
    font-weight: bold;

}

#accordion {
    padding: 20px;
    width: 270px;
}

form {
    display: inline-flex;
    flex-direction: column;
}

button {
    margin-top: 5px;
}


table,
th,
td {
    border: 1px solid black;
}